.post-container {
    background: rgb(237, 212, 212);
    width: 80%;
    margin-left: 20%;
    padding: 80px 15%;
}

.newPost-container {
    background-color: white;
    margin-bottom: 3%;
    padding: 20px;
    border-radius: 15px;
}
.uploadPic-section{
    min-height: 150px;
}
.uploadPic-section img.preview {
    object-fit: contain;
    position: absolute;
    left: 25%;
    max-height: 100px;
    max-width: 100px;
    top: 20%;
}

input#pic {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upper-section {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(185, 185, 185);
}

.head-photo img {
    object-fit: contain;
    height: 20px;
    width: 20px;
}

.file-label {
    position: relative;
    width: 100%;
    height: auto;
}

.detail-section input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    height: 30px;
}

.detail-section {
    /* background-color: rgb(192, 192, 192); */
    padding: 2px;
    position: relative;
}

.weather-section {
    background-color: rgba(0, 128, 204, 0.43);
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    position: relative;
}
.submit-post{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-family: 'Rubik', sans-serif;
}
.weather-section .weather-icon{
    display: inline-block;
}
.weather-section .weather-icon i{
    font-size: 50px;
    color: #f58f35;
}
.entry-container{
    background-color: white;
    margin:50px auto;
    -webkit-box-shadow: 0 0 4px 2px rgba(140,130,140,0.5);
box-shadow: 0 0 4px 2px rgba(140,130,140,0.5);
}
.post-photo{
    height: 40vh;
    background-size:contain;
    background-repeat: no-repeat; 
    background-position:center;
    background-color: #efefef;
}
.post-detail{
padding-top: 20px;
padding-bottom: 20px;
height: 40vh;
background-color: #e17f7fe6;
}
.user-photo{
    height: 100%;
    width:10vh;
    border-radius: 50%;
}
.post-detail-sec{
    padding: 5px;
    height: 17.5%;
    margin-left: 5vh;
    
}
.post-detail-sec.large-sec{
    height: 30%;
    margin-left:0;
}
.detail-icon{
    height: 100%;
}
.weather-detail{
    height: 40vh;
    padding: 0;
}
.weather-detail>div{
    height: 50%;
}
.weather-detail  .weather,.temperature{
    background-color: rgb(91, 163, 247);
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}
.temperature>img{
    max-height: 100%;
    max-width: 40%;

}
.temperature{
    font-size: 5vh;
    color: rgb(77, 77, 77);
    font-weight: 800;
}
.weather>i{
    font-size:10vh;
    top: calc(50% - 10vh);
}
.weather{
    text-align: center;
    padding: 5vh;
}
.post-func{
    margin: 0;
    text-align: center;
    background-color: #090909b3;
}
.post-func>div{
    height: 100%;
}
.post-func img{
    max-width: 80%;
    max-height: 80%;
}
.post-func img::before{
    content:"";
    height: 100%;
    width: 100%;
    background-color: #090909b3;
}
.post-func>.col-4 {
    padding-top:2vh;
}
.post-func>.col-4 >div{
    margin-top: 1vh;
    font-size: 1.5rem;
    color:rgb(255, 130, 130);
    font-weight: 700;
}