{% extends "base.html" %} {% block css %} {% load static %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"> {% endblock css %} {% block content %}
<div class="container-fluid no-padding">
    <div class="bg_container">
        <div class="login_container animated fadeInDown">
            <div class="brand">
                DreXode
            </div>
            <form action="/{{action}}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="UsernameInput" placeholder="Enter user name" name="username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="PWInput" placeholder="Password" name="password" required>
                </div>
                {% if action == 'register' %}
                <div class="form-group">
                    <input type="password" class="form-control" id="RPWInput" placeholder="Repeat Password" name="repeatpassword" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="EmailInput" placeholder="Enter E-mail" name="email" required>
                </div>
                <button class="btn btn-primary loginBtn" style="width:49%;">Sign In</button>
                <button class="btn btn-primary Sign_np" style="width:50%;">Sign Up</button>
                {% else %}
                <button class="btn btn-primary Sign_np" style="width:50%;">Sign Up</button>
                <button class="btn btn-primary loginBtn" style="width:49%;">Sign In</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var error_msg = ''; 
        {% if error_message %}
        error_msg = "{{error_message}}";
         {% endif %}
        console.log(error_msg);
        if (error_msg != '')
            alert(error_msg);


        {% if action == 'register' %}
        $('.loginBtn').on('click',function(e){
            e.preventDefault();
            window.location.href="/login"
        })
        {% else %}
        $('.Sign_np').on('click',function(e){
            e.preventDefault();
            window.location.href="/register"
        })
        {% endif %}
    })
</script>
{% endblock content %}