.navbar-brand {
    font-family: 'Rubik', sans-serif;
}
.Username{
    color:white;
    float: left;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    margin-top:12px;
    margin-right: 10px;
    font-weight: 700;
    cursor: pointer;
}
.Username img{
    max-height: 30px;
    max-width: 30px;
    margin-top: -12px;
}
.LogOutBtn{
    font-weight: 700;
}

.side-filter{
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: rgb(0, 98, 110)
}
.no-padding{
    padding:0 !important;
}

body{
    font-family: 'Amiko',Microsoft JhengHei,serif;

}